.searchBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .searchInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
  }
  
  .searchInput:focus {
    border-color: #e50914;
  }
  
  .searchButton {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .searchButton:hover {
    background-color: #b2070d;
  }
  